.mainBGColor{
    background-color: coral;
}
.mainTextColor{
    color:coral;
}
.grayTextColor{
    color:gray;;
}
.grayBGColor{
    background-color: rgb(240,240,240);
}
.header{
    width:100%;height:44px;color:#ffffff;background-color: coral;font-size:20px;text-align: center;line-height: 44px;
}
.normal-button{
    width:60%;margin-left:20%;display:block;height:40px;background-color: coral;border-radius: 20px;
    color:#ffffff;font-size:18px;text-align: center;line-height: 40px;
}


.main-header{
    width:100%;height:140px;display:block;
}
.main-header-title{
    width:100%; height:44px;display: block;
    display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;
}
.main-header-title-icon{
    width:44px;height:44px;display:block;
}
#left{
    padding-left:10px;
}
#right{
    padding-right:10px;position: relative;
}
.message-img{
    position: absolute; right:10px; right:12px;top:4px; width:26px;height:22px;
}
.message-tag{
    position: absolute; width:22px;height:12px;color:#ffffff;background-color: red; right:2px;
    font-size:10px;line-height:12px;text-align: center;border-radius: 6px;
}
.main-header-title text{
    color:#ffffff;line-height: 44px;font-size:20px;font-weight:900;
}
.main-header-panel{
    width:100%;display:-webkit-flex;display:flex;
}
.main-header-pane-div{
    -webkit-flex:1;flex:1;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
}
.main-header-pane-div-cell{
    width:38px;
    display:block;
}
.main-header-pane-div-cell img{
    margin-top:12px;
    width:38px;
    height:32px;
    display:block;
}
.main-header-pane-div-cell span{
    text-align: center;line-height:20px;color:#ffffff;width:100%;height:20px;display:block;padding-top:4px;
}