<ion-view class="grayBGColor">
    <div style="width:100%;height:20px;display:block;background-color: coral;"></div>
    <div class="header">填写信息</div>
    <img class="apply-loan-banner" src="resource/message_banner.jpg">
    <div class="apply-loan-mypapper">
        <paper ng-repeat="paper in papers" ng-style="paper">{{$index+1}}</paper>
    </div>
    <div  style="width:100%;height:284px;display:block;">
        <ion-slide-box show-pager="false" active-slide="myActiveSlide" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="card-div"><img class="card-img" src="resource/message_p_01.png"></div>
            </ion-slide>
            <ion-slide>
                <div class="card-div"><img class="card-img" src="resource/message_p_02.png"></div>
            </ion-slide>
            <ion-slide>
                <div class="card-div"><img class="card-img" src="resource/message_p_03.png"></div>
            </ion-slide>
            <ion-slide>
                <div class="card-div"><img class="card-img" src="resource/message_p_04.png"></div>
            </ion-slide>
            <ion-slide>
                <div class="card-div"><img class="card-img" src="resource/message_p_05.png"></div>
            </ion-slide>
        </ion-slide-box>
    </div>
    <div  class="apply-loan-footer">
        <div class="normal-button">我要申请</div>
    </div>
</ion-view>
