<div ng-click="showSelectAction()">暴风雨要来了</div>
<ion-slide-box active-slide="myActiveSlide">
    <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
    </ion-slide>
    <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
    </ion-slide>
    <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
    </ion-slide>
</ion-slide-box>
<my-radio-dir select-index="sexSInd" selected-bg-color="sexSBC" normal-bg-color="sexNBC" items="sexItems" select-radio-action="selectSexAction" item-style="sexStyles"></my-radio-dir>