<div class="main-header">
    <div class="main-header-title">
        <div class="main-header-title-icon" id="left">left</div>
        <text>吉客网贷</text>
        <div class="main-header-title-icon" id="right">right</div>
    </div>
    <div class="main-header-panel">
        <div class="main-header-pane-div">
           <div class="main-header-pane-div-cell">
                <!--<img ng-src="resource/xdico_01.png/"/>-->
           </div>
        </div>
        <div class="main-header-pane-div">
            <div class="main-header-pane-div-cell">

            </div>
        </div>
        <div class="main-header-pane-div">
            <div class="main-header-pane-div-cell">

            </div>
        </div>
    </div>
</div>